body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat',sans-serif;
  color: #FFFFFF;
  background-color: #0F0F0F;
}

body main {
  height: 100%;
  width: 100%;
  /* max-width: 800px;
        margin-left: auto;
        margin-right: auto; */
  background-color: #191919;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 120px auto 120px;
      grid-template-rows: 120px auto 120px;
      grid-template-areas: "dashboard" "ball-container" "bottom";
}

@media (min-width: 700px) {
  body main {
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% auto;
        grid-template-columns: 30% auto;
        grid-template-areas: "dashboard ball-container" "dashboard ball-container" "bottom ball-container";
  }
}

body main .subtitle {
  margin: 0;
  margin-top: .2em;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

body main #dashboard {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: dashboard;
  background-color: #0F0F0F;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 66%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 66%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "left right";
  z-index: 3;
}

@media (min-width: 700px) {
  body main #dashboard {
    -ms-grid-rows: 56px auto;
        grid-template-rows: 56px auto;
        grid-template-areas: "left left" "right right";
    -webkit-clip-path: polygon(0 0, 70% 0, 95% 100%, 0 100%);
            clip-path: polygon(0 0, 70% 0, 95% 100%, 0 100%);
  }
}

body main #dashboard #score {
  margin: 0;
  font-size: 24px;
  letter-spacing: 1.6px;
  font-weight: 900;
}

body main #dashboard .play-pause-button {
  outline: none;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #FFFFFF;
  background: none;
  border-radius: 40px;
  width: 100px;
  height: 40px;
  border-width: 2px;
  border-color: #FFFFFF;
}

body main #dashboard .play-pause-button:hover {
  background-color: #5050E3;
  color: #FFFFFF;
}

body main #dashboard .play-pause-button:active {
  background-color: #2424dc;
}

body main #dashboard #left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  padding: 1em;
}

body main #dashboard #right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  padding: 1em;
  text-align: right;
}

@media (min-width: 700px) {
  body main #dashboard #right {
    text-align: left;
  }
}

body main #ball-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ball-container;
  overflow: hidden;
}

body main .dot {
  display: inline-block;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  top: -20px;
  z-index: 0;
}

body main .dot:hover {
  background-color: #5050E3;
  color: #FFFFFF;
}

body main .dot:active {
  background-color: #2424dc;
}

body main #bottom {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: bottom;
  background-color: #0F0F0F;
  -webkit-clip-path: polygon(0 0, 100% 33%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 33%, 100% 100%, 0 100%);
  z-index: 3;
  padding: 0;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 700px) {
  body main #bottom {
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
  }
}

body main #bottom #slider-container {
  display: block;
  width: 100%;
  padding: 1em;
}

body main #bottom #slider-container .slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 2px;
  background: colors(accent);
  outline: 0px;
  margin-bottom: 1.3em;
}

body main #bottom #slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  background: #0F0F0F;
}

body main #bottom #slider-container .slider::-webkit-slider-thumb:hover {
  background-color: #5050E3;
  color: #FFFFFF;
}

body main #bottom #slider-container .slider::-webkit-slider-thumb:active {
  background-color: #2424dc;
}
/*# sourceMappingURL=style.css.map */