$colors: (
    primary: #0F0F0F,
    bg: #191919,
    accent: #FFFFFF,
    highlighted: #5050E3,
    selected: darken(#5050E3, 10%)
);

$padding: 1em;

$font-light: 300;
$font-regular:400;
$font-bold: 700;
$font-black: 900;


body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$desktop: 700px;

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}


body {
    font-family: 'Montserrat',sans-serif;
    color: color(accent);
    background-color: color(primary);


    main {

        height: 100%;
        width: 100%;
        /* max-width: 800px;
        margin-left: auto;
        margin-right: auto; */
        background-color: color(bg);
        display: grid;
        grid-template-rows: 120px auto 120px;
        grid-template-areas:
        "dashboard"
        "ball-container"
        "bottom";



        @include desktop {
            max-width: 100%;
            display: grid;
            grid-template-columns: 30% auto;
            grid-template-areas: 
            "dashboard ball-container"
            "dashboard ball-container"
            "bottom ball-container";


        }

    
        

        .subtitle { 
            margin: 0;
            margin-top: .2em;
            font-size: 14px;
            font-weight: $font-light;
            text-transform: uppercase;
        }


        #dashboard {

            grid-area: dashboard;
            background-color: color(primary);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 66%);
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "left right";
            z-index: 3;
            
            @include desktop {
                grid-template-rows: 56px auto;
                grid-template-areas: 
                "left left"
                "right right";
                clip-path: polygon(0 0, 70% 0, 95% 100%, 0 100%);
            }
            

            #score {
                margin: 0;
                font-size: 24px;
                letter-spacing: 1.6px;
                font-weight: $font-black;
            }

            button {
                outline: none;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: $font-bold;
                letter-spacing: 4px;
                color: color(accent);
                background: none;
                border-radius: 40px;
                width: 100px;
                height: 40px;
                border-width: 2px;
                border-color: color(accent);

                &:hover {
                    background-color: color(highlighted);
                    color: color(accent);
                }

                &:active {
                    background-color: color(selected);
                }
            }

            #left {
                grid-area: left;
                padding: $padding;
            }

            #right {
                grid-area: right;
                padding: $padding;
                text-align: right;

                @include desktop {
                    text-align: left;
                }
            }
        }

        #ball-container {
            grid-area: ball-container;
        }

        .dot {
            display: inline-block;
            border-radius: 50%;
            background-color: color(accent);
            position: absolute;
            top: -20px;
            z-index: 0;

            &:hover {
                background-color: color(highlighted);
                color: color(accent);
            }

            &:active {
                background-color: color(selected);
            }
        }
        
        #bottom {
           
            grid-area: bottom;
            background-color: color(primary);
            clip-path: polygon(0 0, 100% 33%, 100% 100%, 0 100%);
            z-index: 3;
            padding: 0;
            text-align: right;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            @include desktop {
                clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
                //changing angle to match dashboard angle in desktop
            }

            #slider-container {
                display: block;
                width: 100%;
                padding: $padding;

                .slider {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 100%; 
                    height: 2px; 
                    background: colors(accent);
                    outline: 0px;
                    margin-bottom: 1.3em;

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 20px; 
                        height: 20px;
                        border-radius: 50%;
                        border: 2px solid color(accent);
                        background: color(primary);
                        
                        &:hover {
                            background-color: color(highlighted);
                            color: color(accent);
                        }

                        &:active {
                            background-color: color(selected);
                        }
                      }
                }

            }


        }
    }



}